ul {
	padding-left: 5px; 
	margin-top: 10px;
}

.caixaTexto {
	white-space: pre;
	padding-top: 5px;
    padding-bottom: 20px;
}

pre {
	margin-top: -25px;
    margin-bottom: -25px;
}

button.ui-button {
	margin-right: 10px;
	margin-left: 10px;
}

.larguraMaxima {
	width: 100% !important;
}

div.tabela>div>table>tbody>tr>td,
div.tabela>div>table>tbody>tr,
table.tabela>tbody>tr>td,
table.tabela>tbody>tr {
	border-style: solid !important;
}

.dialog85 {
	left: 10% !important; 
	width: 80% !important;
	top: 5% !important;
	height: 90% !important;
}

div.dialog85>div,
div.dialog85>div>div,
div.dialog85>div>div>div {
	padding: 0px !important;
	height: 100% !important;
}

a.botaoFecharDialog {
	float: right;
    height: 30px;
    width: 30px;
    padding-left: 0px;
}

a.botaoFecharDialog>i {
	height: 30px; 
	width: 30px;
	line-height: 30px; 
}

.direita {
	text-align: right;
}

blockquote {
	border-left: 5px solid #4db6ac;
}

div.ui-messages-info>span {
	display: none;
}

span.ui-messages-error-icon {
	display: none;
}

div.ui-messages-info>ul {
	margin-left: 10px;
}

div.ui-messages-info>ul>li {
	margin-top: 0px !important;
}

span.ui-messages-info-summary {
	margin-right: 10px !important;
	margin-left: 0px !important;
}

textarea {
	width: 100%;
	height: 100%;
}

@font-face {
  font-family: 'DroidSansMono';
  src: url('../font/DroidSansMono.ttf');
}

blockquote>b {
	color: #da6363;
}

#errorDiv {
	color: #da6363;
}